.container{
    width: 100%;
}

.logo{
    display: none;
}
.navbar{
    flex-direction: column;
    background-color: #010d11c2;
    position: relative;

}
#menu-icon{
    display: block;
    cursor: pointer;
}
.hidden{
    display: none;
}
.menubar .menu{
    flex-direction: column;
    justify-items: center;

}
.menubar .menu li a{
    font-size: 24px;
    text-align: center;
    padding: 10px 50px;
    transition: all 0.5s ease-in-out;
}
.menubar .menu li a:hover{
    color: #E76F51;
}
.menubar .menu li{
    font-size: 24px;
    padding: 10px 10px;
    border-radius: 10px;

}
.menubar .menu li:last-child a{
    border: 1px solid #E76F51;
}
.menubar .menu li:last-child a:hover{
    background-color: #E76F51;
    color: #ffff;
}
.menubar .menu li:last-child a{
    font-size: 36px;
    background-color: transparent;
}
.bannar-section{
    flex-direction: column;
    gap: 100px;
    align-items: center;
    height: 100%;
    padding-bottom: 400px;
    padding: 0 20px 400px 20px;

}
.text-section{
    padding: 0 20px;
}
.image-section, .text-section{
    width: 100%;
}
.image-section .bannar-image{
    width: 100%;
    height: 100%;
}
img{
    width: 100%;
}

.image-section .bannar-effect{
    display: none;
}
.text-section{
    width: 100%;
    padding: 0;
}
.text-section .bannar-heaeder{
    font-size: 36px;
    margin: 0;
    padding: 0;
   
}
.text-section .bannar-description{
    padding: 0;
}
.main-section .feture-header, .latest-bike-section-header h2, .client-reviwe-header h2,.frequently-section-header h2{
    font-size: 25px;
    text-align: center;

}
.feture-section{
    flex-direction: column;
    gap: 200px;
    align-items: center;
}
.bike-cards{
   flex-direction: column;
   
}
.reviwe-cards{
   flex-direction: column;
   align-items: center;
}
.frequently-section-container{
   flex-direction: column;
   align-items: center;
   margin-bottom: 60px;
   padding: 0 20px;
}

.content{
    justify-content: center;
    align-items: center;
    width: 100%;
}
.content img{
    width: 100%;
}
.asked-questions{
    width: 100%;
}

.detels{
    margin: 0;
    flex-direction: column;
}
.information{
    padding: 80px 55px 0 55px;
}
ul{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.get-app{
    margin: 30px 0 80px 0;
}
.apple{
    margin-bottom: 10px;
}